---
    import BaseHead from '../components/BaseHead.astro';
    import SimpleCardGroup from '../components/SimpleCardGroup.astro';

    const artCards = [
        { href: '/art/iridescent-vectors', text: 'Iridescent Vectors' },
        { href: '/art/floating-things', text: 'Floating Things' },
        { href: '/art/leaves-of-grass', text: 'Leaves of Grass'},
        { href: '/art/false-geometry', text: 'False Geometry' },
    ]
    const books = await Astro.glob('../pages/books/*.md')
    const bookCards = books.map(post => ({ href: post.url, text: post.frontmatter.title }))

    const miscCards = [
        { href: '/about', text: 'About' }
    ]
---

<html lang="en">
    <BaseHead title="A Digital Garden"/>
	
	<main>
		<section class="center">
			<h1>a digital garden</h1>
		</section>

		<hr />

		<span class="center">art</span>
   
        <SimpleCardGroup backgroundColor='lightsteelblue' cards={artCards} />

		<span class="center">books</span>

		<SimpleCardGroup backgroundColor='burlywood' cards={bookCards}/>

        <SimpleCardGroup backgroundColor='pink' cards={miscCards}/>
</main>


</html>

<style>
    :global(*) {
        font-family: Arial, Helvetica, sans-serif;
    }
    main {
        height: 100vh;
    }
    h1 {
        text-align: center;
        color: gray;
    }
    h1 {
        margin-top: 20px;
    }
    .center {
        display: flex;
        justify-content: center;
    }
</style>